<div class="widget">
    <div id="widget-top">
        <div class="widget_title">
            <h6>{{widgetTitle}}</h6>
        </div>
        <div class="widget_url">
            <span>
                <strong>
                    <a href="{{url}}" alt="See More" title="See More">
                        SEE MORE 
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>    
                </strong>
            </span>
        </div>        
    </div>  
    <div id="widget-content">
        <ng-content></ng-content>
    </div>
</div>